.blog-header {
  display: flex;
  flex-direction: column;
  position: relative;
  @media only screen and (max-width: 768px) {
    padding-top: 4rem;
  }
  .line {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  h1 {
    font-size: 3em;
    padding-bottom: 0.5em;
  }
  h2 {
    text-transform: uppercase;
    padding-top: 2em;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .blog-circle {
    right: 4em;
    position: absolute;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
.blog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 1em;
  }
  align-items: flex-start;

  ul {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    padding-left: 2em;
    li {
      padding-bottom: 2em;

      a {
        color: #000;
        transition: 300ms all ease;
        &:hover {
          color: #ff0e0d;
        }
      }
      &.active {
        font-family: "Object Sans Heavy";
      }
    }
  }
  .blogs-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 3em;

    .blogpost {
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      img {
        width: 30vw;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }
      &:hover {
        transition: 300ms all ease;
        transform: scale(1.01);
      }
      p {
        padding: 2em 0;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #000;
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 1px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #000;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
