.section-1 {
  background-image: url("../assets/images/main-background.png");
  @media only screen and (max-width: 768px) {
    background-image: url("../assets/images/main-background-mobile.png");
  }
  p {
    width: 50vw;
    font-size: 6em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    padding-left: 20%;
    @media only screen and (max-width: 768px) {
      width: 80%;
      padding-left: 0;
      font-size: 3em;
      margin: auto;
    }
  }
}

.section-2 {
  background-image: url("../assets/images/estates-background.png");
  @media only screen and (max-width: 768px) {
    background-image: url("../assets/images/estates-background-mobile.png");
  }
  .center-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    .main-header {
      font-size: 10em;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      color: #fff;
      @media only screen and (max-width: 768px) {
        font-size: 3em;
      }
    }
    .italic-comment {
      font-size: 6em;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: #fff;
      align-self: flex-end;
      @media only screen and (max-width: 768px) {
        font-size: 3em;
      }
    }
    .mob-but {
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        button {
          padding-top: 1em;
        }
      }
    }
  }
}

.section-3 {
  background-image: url("../assets/images/brands-background.png");
  @media only screen and (max-width: 768px) {
    background-image: url("../assets/images/brands-background-mobile.png");
  }
  .center-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 20vw;
    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    .main-header {
      font-size: 9em;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      color: #fff;
      word-spacing: 100vw;
      @media only screen and (max-width: 768px) {
        font-size: 3em;
      }
    }
  }
}

.section-4 {
  background-image: url("../assets/images/strategy-background.png");
  @media only screen and (max-width: 768px) {
    background-image: url("../assets/images/strategy-background-mobile.png");
  }
  .center-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    .main-header {
      font-size: 9em;
      font-style: normal;
      font-weight: bold;
      color: #fff;
      @media only screen and (max-width: 768px) {
        font-size: 3em;
      }
    }
  }
}
