@font-face {
  font-family: "Object Sans Heavy Slanted";
  src: url("../assets/fonts/PPObjectSans-HeavySlanted.otf");
}

@font-face {
  font-family: "Object Sans Slanted";
  src: url("../assets/fonts/PPObjectSans-Slanted.otf");
}

@font-face {
  font-family: "Object Sans";
  src: url("../assets/fonts/PPObjectSans-Regular.otf");
}

@font-face {
  font-family: "Object Sans Heavy";
  src: url("../assets/fonts/PPObjectSans-Heavy.otf");
}
