.jimsher-1 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/1.png");
  position: relative;
  .nav-secondary {
    display: flex;
    position: fixed;
    width: 55%;
    justify-content: space-between;
    padding: 2em 0;
    top: 0;
    z-index: 6;
    a {
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        color: #fff;
      }
    }
  }
  h1 {
    font-size: 9em;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    color: #fff;
    letter-spacing: 0.2em;
  }
}

.jimsher-2 {
  background-color: #141414;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .text {
    width: 60%;
    color: #fff;
    text-transform: uppercase;
  }
}
.jimsher-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .left {
    height: 100%;
    background-image: url("../assets/images/jimsher/2.png");
  }
  .right {
    height: 100%;
    background-image: url("../assets/images/jimsher/3.png");
  }
}

.jimsher-4 {
  background-color: #141414;

  p {
    font-size: 6em;
    text-transform: uppercase;
    width: 50%;
    color: #fff;
  }
}

.jimsher-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141414;

  .left {
    font-size: 1.5em;
    text-transform: uppercase;
    width: 50%;
    color: #fff;
    margin: auto;
  }
  .right {
    img {
      width: 70%;
    }
  }
}

.jimsher-6 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/5.png");
}

.jimsher-7 {
  background-color: #141414;
  display: flex;
  align-items: flex-end;
  .center-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    img {
      align-self: flex-end;
      width: 100%;
    }
    .big {
      width: 50%;
      position: absolute;
      top: -2em;
      left: -3em;
      font-size: 6em;
      color: #fff;
      text-transform: uppercase;
    }
    .small {
      width: 22em;
      position: absolute;
      bottom: 2em;
      right: 2em;
      font-size: 1em;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.jimsher-8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141414;

  .left {
    align-self: center;
    p {
      font-size: 6em;
      text-transform: uppercase;
      width: 100%;
      color: #fff;
      margin: auto;
      text-align: right;
    }
  }
  .right {
    align-self: flex-end;
    padding-bottom: 2em;
    p {
      font-size: 1.5em;
      text-transform: uppercase;
      width: 50%;
      color: #fff;
      margin: auto;
    }
  }
}

.jimsher-9 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/7.png");
}

.jimsher-10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141414;

  .left {
  }
  .right {
    p {
      font-size: 6em;
      text-transform: uppercase;
      width: 70%;
      color: #fff;
      margin: auto;
    }
  }
}

.jimsher-11 {
  display: grid;
  grid-template-columns: 7fr 3fr;
  background-color: #141414;
  overflow: hidden;

  .left {
    position: relative;
    img {
      width: 100%;
      object-fit: contain;
    }
    p {
      font-size: 1.5em;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 90%;
      width: 30%;
    }
  }
  .right {
  }
}
