.jimsher-1 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/1.png");
  position: relative;
  height: 100vh;
  @media only screen and (max-width: 768px) {
    height: -webkit-fill-available;
  }
  .nav-secondary {
    display: flex;
    position: fixed;
    width: 55%;
    justify-content: space-between;
    padding: 2em 0;
    top: 0;
    z-index: 6;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 1em;
      left: 0;
      top: 50%;
      flex-direction: column;
      grid-gap: 2em;
      position: absolute;
      z-index: 999;
    }
    a {
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        color: #fff;
      }
    }
  }
  h1 {
    font-size: 9em;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    color: #fff;
    letter-spacing: 0.2em;

    @media only screen and (max-width: 768px) {
      font-size: 3em;
    }
  }
}

.jimsher-2 {
  background-color: #141414;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .text {
    width: 60%;
    color: #fff;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
.jimsher-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .left {
    height: 100%;
    background-image: url("../assets/images/jimsher/2.png");
    @media only screen and (max-width: 768px) {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .right {
    height: 100%;
    background-image: url("../assets/images/jimsher/3.png");
    @media only screen and (max-width: 768px) {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.jimsher-4 {
  background-color: #141414;

  p {
    font-size: 6em;
    text-transform: uppercase;
    width: 50%;
    color: #fff;
    @media only screen and (max-width: 768px) {
      width: 100%;
      font-size: 3em;
      text-align: center;
    }
  }
}

.jimsher-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141414;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .left {
    font-size: 1.5em;
    text-transform: uppercase;
    width: 50%;
    color: #fff;
    margin: auto;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 2em 0;
    }
  }
  .right {
    img {
      width: 70%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.jimsher-6 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/5.png");
  @media only screen and (max-width: 768px) {
    height: 30vh;
  }
}

.jimsher-7 {
  background-color: #141414;
  display: flex;
  align-items: flex-end;
  @media only screen and (max-width: 768px) {
    padding: 1em;
  }
  .center-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    @media only screen and (max-width: 768px) {
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
    }
    img {
      align-self: flex-end;
      width: 100%;
    }
    .big {
      width: 50%;
      position: absolute;
      top: -2em;
      left: -3em;
      font-size: 6em;
      color: #fff;
      text-transform: uppercase;
      @media only screen and (max-width: 768px) {
        width: 100%;
        position: relative;
        font-size: 2em;
        top: auto;
        left: auto;
      }
    }
    .small {
      width: 22em;
      position: absolute;
      bottom: 2em;
      right: 2em;
      font-size: 1em;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.jimsher-8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141414;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .left {
    align-self: center;
    p {
      font-size: 6em;
      text-transform: uppercase;
      width: 100%;
      color: #fff;
      margin: auto;
      text-align: right;
      @media only screen and (max-width: 768px) {
        font-size: 2em;
        text-align: left;
      }
    }
  }
  .right {
    align-self: flex-end;
    padding-bottom: 2em;
    p {
      font-size: 1.5em;
      text-transform: uppercase;
      width: 50%;
      color: #fff;
      margin: auto;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.jimsher-9 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/7.png");
  @media only screen and (max-width: 768px) {
    height: 30vh;
    padding: 1em;
  }
}

.jimsher-10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141414;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .left {
  }
  .right {
    p {
      font-size: 6em;
      text-transform: uppercase;
      width: 70%;
      color: #fff;
      margin: auto;
      @media only screen and (max-width: 768px) {
        width: 100%;
        font-size: 2em;
      }
    }
  }
}

.jimsher-11 {
  display: grid;
  grid-template-columns: 7fr 3fr;
  background-color: #141414;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .left {
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
    }
    p {
      font-size: 1.5em;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 90%;
      width: 30%;
      @media only screen and (max-width: 768px) {
        top: auto;
        position: relative;
        left: auto;
        width: 100%;
        transform: none;
      }
    }
  }
  .right {
  }
}
