/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Object Sans Heavy Slanted";
  src: url("../assets/fonts/PPObjectSans-HeavySlanted.otf");
}

@font-face {
  font-family: "Object Sans Slanted";
  src: url("../assets/fonts/PPObjectSans-Slanted.otf");
}

@font-face {
  font-family: "Object Sans";
  src: url("../assets/fonts/PPObjectSans-Regular.otf");
}

@font-face {
  font-family: "Object Sans Heavy";
  src: url("../assets/fonts/PPObjectSans-Heavy.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@media only screen and (max-width: 768px) {
  .empty-li {
    display: none;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    height: -webkit-fill-available;
  }
}

.quarter-container {
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .quarter-container {
    height: -webkit-fill-available;
  }
}

.half-container {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .half-container {
    height: -webkit-fill-available;
  }
}

.double-container {
  height: 150vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .double-container {
    height: -webkit-fill-available;
  }
}

body {
  position: relative;
  font-family: "Object Sans";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
  width: 100vw;
  overflow-x: hidden;
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 12px;
  }
}

.fixed-position {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.fixed-position header .line {
  background-color: transparent !important;
}

.fixed-position header .line h1 {
  color: #fff !important;
}

.fixed-position header .line button {
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pt-5 {
  padding-top: 5em;
}

.pl-2 {
  padding-left: 2em;
}

header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

header.black .line {
  background-color: #fff;
}

header.black .line h1 {
  color: #000;
}

header.black button {
  color: #000;
}

header .line {
  position: absolute;
  width: 100%;
  padding: 1em;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .line h1 {
  font-size: 2em;
  color: #fff;
}

header button {
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

header .close {
  z-index: 5;
}

header nav {
  display: none;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #000;
  z-index: 4;
  position: relative;
}

@media only screen and (max-width: 768px) {
  header nav {
    height: -webkit-fill-available;
  }
}

header nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  header nav ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

header nav ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 5em;
  font-size: 1.6em;
}

@media only screen and (max-width: 768px) {
  header nav ul li {
    border: none;
    text-align: left;
    padding-left: 1em;
    padding-top: 2em;
  }
}

header nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

header nav ul li a:hover {
  color: #fff;
}

header .nav-bottom {
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

header .nav-bottom a {
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #fff;
  background: transparent;
  border: none;
}

.primary-button {
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sticky-bottom {
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  z-index: 1;
}

.loading {
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading h1 {
  color: #fff;
  font-size: 2.5em;
  font-family: "Object Sans";
  font-style: normal;
  line-height: 2.5em;
  letter-spacing: 0.2em;
  font-weight: 200;
}

.section-1 {
  background-image: url("../assets/images/main-background.png");
}

@media only screen and (max-width: 768px) {
  .section-1 {
    background-image: url("../assets/images/main-background-mobile.png");
  }
}

.section-1 p {
  width: 50vw;
  font-size: 6em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  padding-left: 20%;
}

@media only screen and (max-width: 768px) {
  .section-1 p {
    width: 80%;
    padding-left: 0;
    font-size: 3em;
    margin: auto;
  }
}

.section-2 {
  background-image: url("../assets/images/estates-background.png");
}

@media only screen and (max-width: 768px) {
  .section-2 {
    background-image: url("../assets/images/estates-background-mobile.png");
  }
}

.section-2 .center-box {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-2 .center-box .main-header {
  font-size: 10em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .section-2 .center-box .main-header {
    font-size: 3em;
  }
}

.section-2 .center-box .italic-comment {
  font-size: 6em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .section-2 .center-box .italic-comment {
    font-size: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .section-2 .center-box .mob-but {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-2 .center-box .mob-but button {
    padding-top: 1em;
  }
}

.section-3 {
  background-image: url("../assets/images/brands-background.png");
}

@media only screen and (max-width: 768px) {
  .section-3 {
    background-image: url("../assets/images/brands-background-mobile.png");
  }
}

.section-3 .center-box {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
}

@media only screen and (max-width: 768px) {
  .section-3 .center-box {
    width: 80%;
  }
}

.section-3 .center-box .main-header {
  font-size: 9em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  word-spacing: 100vw;
}

@media only screen and (max-width: 768px) {
  .section-3 .center-box .main-header {
    font-size: 3em;
  }
}

.section-4 {
  background-image: url("../assets/images/strategy-background.png");
}

@media only screen and (max-width: 768px) {
  .section-4 {
    background-image: url("../assets/images/strategy-background-mobile.png");
  }
}

.section-4 .center-box {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
}

@media only screen and (max-width: 768px) {
  .section-4 .center-box {
    width: 80%;
  }
}

.section-4 .center-box .main-header {
  font-size: 9em;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .section-4 .center-box .main-header {
    font-size: 3em;
  }
}

.brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 6em 2em;
}

@media only screen and (max-width: 768px) {
  .brands {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.brands .brand-container {
  position: relative;
}

.brands .brand-container .hover-effect {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.brands .brand-container:hover img {
  opacity: 0.3;
}

.brands .brand-container:hover .hover-effect {
  opacity: 1;
}

.brands .text {
  background-color: #141414;
  color: #fff;
  padding: 1em 2em;
  cursor: pointer;
}

.brands a img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.jimsher-1 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/1.png");
  position: relative;
}

.jimsher-1 .nav-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0;
  top: 0;
  z-index: 6;
}

.jimsher-1 .nav-secondary a {
  color: rgba(255, 255, 255, 0.5);
}

.jimsher-1 .nav-secondary a:hover {
  color: #fff;
}

.jimsher-1 h1 {
  font-size: 9em;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: #fff;
  letter-spacing: 0.2em;
}

.jimsher-2 {
  background-color: #141414;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.jimsher-2 .text {
  width: 60%;
  color: #fff;
  text-transform: uppercase;
}

.jimsher-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.jimsher-3 .left {
  height: 100%;
  background-image: url("../assets/images/jimsher/2.png");
}

.jimsher-3 .right {
  height: 100%;
  background-image: url("../assets/images/jimsher/3.png");
}

.jimsher-4 {
  background-color: #141414;
}

.jimsher-4 p {
  font-size: 6em;
  text-transform: uppercase;
  width: 50%;
  color: #fff;
}

.jimsher-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #141414;
}

.jimsher-5 .left {
  font-size: 1.5em;
  text-transform: uppercase;
  width: 50%;
  color: #fff;
  margin: auto;
}

.jimsher-5 .right img {
  width: 70%;
}

.jimsher-6 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/5.png");
}

.jimsher-7 {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jimsher-7 .center-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
}

.jimsher-7 .center-text img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
}

.jimsher-7 .center-text .big {
  width: 50%;
  position: absolute;
  top: -2em;
  left: -3em;
  font-size: 6em;
  color: #fff;
  text-transform: uppercase;
}

.jimsher-7 .center-text .small {
  width: 22em;
  position: absolute;
  bottom: 2em;
  right: 2em;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.jimsher-8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #141414;
}

.jimsher-8 .left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.jimsher-8 .left p {
  font-size: 6em;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  margin: auto;
  text-align: right;
}

.jimsher-8 .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 2em;
}

.jimsher-8 .right p {
  font-size: 1.5em;
  text-transform: uppercase;
  width: 50%;
  color: #fff;
  margin: auto;
}

.jimsher-9 {
  background-color: #141414;
  background-image: url("../assets/images/jimsher/7.png");
}

.jimsher-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #141414;
}

.jimsher-10 .right p {
  font-size: 6em;
  text-transform: uppercase;
  width: 70%;
  color: #fff;
  margin: auto;
}

.jimsher-11 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
  background-color: #141414;
  overflow: hidden;
}

.jimsher-11 .left {
  position: relative;
}

.jimsher-11 .left img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.jimsher-11 .left p {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
  width: 30%;
}

.blog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.blog-header h1 {
  font-size: 3em;
  padding-bottom: 0.5em;
}

.blog-header h2 {
  text-transform: uppercase;
  padding-top: 2em;
}

.blog-header .blog-circle {
  right: 4em;
  position: absolute;
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog ul {
  padding-left: 2em;
}

.blog ul li {
  padding-bottom: 2em;
}

.blog ul li a {
  color: #000;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.blog ul li a:hover {
  color: #ff0e0d;
}

.blog ul li.active {
  font-family: "Object Sans Heavy";
}

.blog .blogs-container {
  height: 100%;
  width: 95%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 3em;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.blog .blogs-container .blogpost:hover {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.blog .blogs-container .blogpost p {
  padding-top: 2em;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #000;
}

.blog .blogs-container::-webkit-scrollbar {
  width: 1px;
}

.blog .blogs-container::-webkit-scrollbar-track {
  background: red;
}

.blog .blogs-container::-webkit-scrollbar-thumb {
  background: #000;
}

.blog .blogs-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.blogpost-container {
  width: 70vw;
}

.blogpost-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.blogpost-header h1 {
  font-size: 3em;
  padding: 0.5em 0;
  text-transform: uppercase;
}

.blogpost-header h2 {
  text-transform: uppercase;
  padding-top: 2em;
  text-transform: uppercase;
}

.blogpost-header p {
  text-transform: uppercase;
}

.blogpost-1 {
  margin: auto;
}

.blogpost-1 img {
  width: 100%;
}

.blogpost-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

.blogpost-2 p {
  padding-top: 2em;
}

.blogpost-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
}

.blogpost-3 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogpost-3 .left p {
  width: 50%;
}

.blogpost-3 .right img {
  width: 100%;
}

.blogpost-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

.blogpost-4 p {
  padding-top: 2em;
}

.blogpost-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  grid-gap: 1em;
  margin: auto;
}

.blogpost-5 .left img {
  width: 100%;
}

.blogpost-5 .right img {
  width: 100%;
}

.strategy {
  background-image: url("../assets/images/strategy/map.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .strategy {
    background-image: url("../assets/images/strategy/map-mobile.svg");
  }
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 4fr;
      grid-template-columns: 6fr 4fr;
}

@media only screen and (max-width: 768px) {
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .contact .left {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 5em;
    padding-left: 1em;
  }
}

.contact .left h1 {
  color: #000;
  font-size: 4em;
}

@media only screen and (max-width: 768px) {
  .contact .left h1 {
    padding-bottom: 0.5em;
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .contact .left .empty {
    display: none;
  }
}

.contact .left .topleft {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .contact .left .topleft {
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-start;
    padding-bottom: 2em;
  }
}

.contact .left .bottomleft {
  justify-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .contact .left .bottomleft {
    justify-self: flex-start;
    padding-bottom: 2em;
  }
}

.contact .left .bottomright {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 768px) {
  .contact .left .bottomright {
    justify-self: flex-start;
  }
}

.contact .right {
  height: 100%;
  cursor: pointer;
  background-image: url("../assets/images/contact/map.svg");
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .contact .right {
    height: 50vh;
  }
}

.history-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history-1 h1 {
  padding-bottom: 6em;
}

.history-1 img {
  padding-bottom: 8em;
}

.history-1 p {
  width: 40%;
  text-align: center;
  line-height: 2em;
}

.history-2 {
  background: #000;
}

.history-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.history-3 .left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
}

.history-3 .left img {
  width: 80%;
}

.history-3 .right {
  width: 50%;
  padding-left: 5em;
}

.history-3 .right p {
  line-height: 1.5em;
}

.history-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.history-4 .right {
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.history-4 .right img {
  width: 80%;
}

.history-4 .left {
  justify-self: flex-end;
  width: 50%;
  padding-right: 5em;
}

.history-4 .left p {
  line-height: 1.5em;
  padding-bottom: 1em;
}

.history-5 {
  background-image: url("../assets/images/history/6.png");
}

.history-6 h2 {
  text-transform: uppercase;
}

.history-7 {
  background-image: url("../assets/images/history/7.png");
  position: relative;
}

.history-7 h3 {
  position: absolute;
  bottom: 45em;
  left: 6em;
  width: 25%;
  color: #fff;
  text-transform: uppercase;
}

.history-7 p {
  position: absolute;
  width: 42%;
  bottom: 5em;
  right: 6em;
  color: #fff;
  line-height: 1.5em;
  text-transform: uppercase;
}

.history-8 {
  background-image: url("../assets/images/history/8.png");
  position: relative;
}

.history-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.history-10 p {
  width: 50%;
  text-transform: uppercase;
}

.history-10 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.history-11 {
  background-image: url("../assets/images/history/9.png");
  position: relative;
}

.estate {
  overflow: hidden;
  background-color: #000;
  background-image: url("../assets/images/estate/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .estate {
    height: -webkit-fill-available;
  }
}

.estate .modal {
  z-index: 999;
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100vh;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.estate .modal #museumclose {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.estate .modal .cont {
  /* Track */
  /* Handle */
  /* Handle on hover */
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow-y: scroll;
  height: 90%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 4em 8em;
}

.estate .modal .cont::-webkit-scrollbar {
  width: 1px;
}

.estate .modal .cont::-webkit-scrollbar-track {
  background: transparent;
}

.estate .modal .cont::-webkit-scrollbar-thumb {
  background: #000;
}

.estate .modal .cont::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.estate .modal .cont h2 {
  font-size: 2.5em;
  padding-bottom: 1em;
}

.estate .modal .cont img {
  width: 50%;
}

.estate .modal .cont p {
  padding-top: 2em;
}

.estate .modal .cont .tt {
  padding-bottom: 3em;
}

.estate .categories {
  position: absolute;
  left: 0;
}

.estate .categories ul {
  margin-left: 1em;
}

.estate .categories ul li {
  padding: 1em 0;
}

.estate .categories ul li a {
  color: #fff;
}

.estate .emptyul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr 6fr 3fr 3fr;
      grid-template-columns: 3fr 4fr 6fr 3fr 3fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .estate .emptyul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.estate .emptyul .empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.6em;
  position: relative;
}

.estate .emptyul .empty .museum {
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 3em;
  text-align: right;
  position: absolute;
  left: 2em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.15);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.estate .emptyul .empty .museum:hover {
  color: #fff;
}

.estate .emptyul .empty .guria {
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 3em;
  text-align: right;
  position: absolute;
  left: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.15);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.estate .emptyul .empty .guria:hover {
  color: #fff;
}

.estate .emptyul .empty .kakheti {
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 3em;
  text-align: right;
  position: absolute;
  right: 1em;
  top: 50%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.15);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.estate .emptyul .empty .kakheti:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .estate .emptyul .empty {
    border: none;
    text-align: left;
    padding-left: 1em;
    padding-top: 2em;
  }
}

.estate .emptyul .empty a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.estate .emptyul .empty a:hover {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */